{% assign article = include.article %}

  <li>
    {% if article.audio %}
      <a href="{{ article.audio }}" target="_blank" title="Audio version"><i class="fa-solid fa-headphones"></i></a>
    {% endif %}
    <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
    {% if article.archive %}
      <a href="{{ article.archive }}" title="Archive Link" target="_blank"><i class="fa-solid fa-floppy-disk"></i></a>
    {% endif %}
    {% unless include.hide_author %}
      by {{ article.author }}
    {% endunless %}
  </li>
