{% if include.category == 'essentials' %}
{% assign category = site.books | where: 'essential', true | sort: 'rating_order' | reverse %}
{% else %}
{% assign category = site.books | where: 'categories', include.category | sort: 'rating_order' | reverse %}
{% endif %}

{% if include.above_the_fold %}
{% assign category = category | where: 'atf', include.above_the_fold %}
{% endif %}

<ul class="books">
{% if include.category %}
  {% for book in category %}
  {% include book.html book=book %}
  {% endfor %}
{% else %}
  {% for book in site.books %}
  {% if book.categories[0] != '' %}
  {% include book.html book=book %}
  {% endif %}
  {% endfor %}
{% endif %}
</ul>
