{% capture thisPost %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}
{% capture specifiedPath %}{{ include.otherPost }}}{% endcapture %}
{% capture folderPath %}/assets/images/{{ page.categories[0] | slugify }}/{% if include.otherPost %}{{ include.otherPost }}{% else %}{{ thisPost }}{% endif %}{% endcapture %}
{% capture imagePath %}{% if include.path %}{{ include.path }}{% else %}{{ folderPath }}/{{ include.name }}{% endif %}{% endcapture %}
{% if include.caption %}
<figure>
  <img src="{{ imagePath | replace: '//', '/' | absolute_url }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
  <figcaption>{{ include.caption }}</figcaption>
</figure>
{% else %}
<figure>
  <img src="{{ imagePath | replace: '//', '/' | absolute_url }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
</figure>
{% endif %}
