<nav>
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Articles</a></li>
    <li><a href="https://21lessons.com" title="21lessons.com">Lessons</a></li>
    <li><a href="{{ '/bitcoin/resources' | prepend: site.baseurl }}" title="bitcoin-resources.com">Resources</a></li>
    <li><a href="{{ '/bitcoin/interviews' | prepend: site.baseurl }}">Interviews</a></li>
    <li><a href="{{ '/blog' | absolute_url }}">Blog</a></li>
    <li><a href="{{ '/contact' | absolute_url }}">Contact</a></li>
  </ul>
</nav>
