{% if page.path contains '_books' %}
{% assign prefix = "../" %}
{% endif %}
<nav>
  <ul class="header__list">
    <li><a href="{{ prefix }}{{ '#toc' }}">Table of Contents</a></li>
    <li><a href="{{ prefix }}{{ '#essentials' }}">Essentials</a></li>
    <li><a href="{{ prefix }}{{ '#books' }}">Books</a></li>
    <li><a href="{{ prefix }}{{ '#articles' }}">Articles</a></li>
    <li><a href="{{ prefix }}{{ '#podcasts' }}">Podcasts</a></li>
    <li><a href="https://github.com/bitcoin-resources/bitcoin-resources.github.io">GitHub</a></li>
    <li><a href="https://dergigi.com/support">Support</a></li>
  </ul>
</nav>
