{% if page.path contains '_books' or page.path contains 'books' or page.path contains 'podcasts' or page.path contains 'tags'  %}
{% assign prefix = "../" %}
{% endif %}
<nav>
  <ul class="header__list">
    <li><a href="{{ prefix }}{{ '#books' }}">Books</a></li>
    <li><a href="{{ prefix }}{{ '#articles' }}">Articles</a></li>
    <li><a href="{{ prefix }}{{ '#podcasts' }}">Podcasts</a></li>
    <li><a href="{{ prefix }}{{ '#toc' }}">ToC</a></li>
    <li><a href="https://dergigi.com/support">❤</a></li>
  </ul>
</nav>
