{% assign emoji = '' %}
{% case tag %}
{% when 'entertainment' %}
{% assign emoji = '😆' %}
{% when 'news' %}
{% assign emoji = '📰' %}
{% when 'daily' %}
{% assign emoji = '📆' %}
{% when 'interviews' %}
{% assign emoji = '💬' %}
{% when 'economics' %}
{% assign emoji = '💹' %}
{% when 'technical' %}
{% assign emoji = '⚙️' %}
{% when 'roundtable' %}
{% assign emoji = '👥' %}
{% when 'reading' %}
{% assign emoji = '📖' %}
{% when 'pleb' %}
{% assign emoji = '🌮' %}
{% when 'industry' %}
{% assign emoji = '👔' %}
{% when 'shitcoinery' %}
{% assign emoji = '💩' %}
{% when 'qa' %}
{% assign emoji = '🙋' %}
{% when 'lightning' %}
{% assign emoji = '⚡' %}
{% when 'mining' %}
{% assign emoji = '⚒️' %}
{% when 'design' %}
{% assign emoji = '💅' %}
{% when 'art' %}
{% assign emoji = '🎨' %}
{% when 'politics' %}
{% assign emoji = '✒️' %}
{% when 'politics' %}
{% assign emoji = '🕵️' %}
{% when 'inactive' %}
{% assign emoji = '⚰️' %}
{% else %}
{% endcase %}

<a title="{{ tag }}" href="{{ './tags#' | append: tag | absolute_url }}">{{ emoji }}</a>
