//----------------------------------------------
// Book
//----------------------------------------------
.book_flex {
   display: flex;
   // flex-wrap: wrap;
}

.book_links {
  p {
    margin-left: 1.8em;

    &:first-child {
      margin-top: 0;
    }
  }
}
.cover > img {
  display: block;
  max-height: 400px;
  width: auto;
  height: auto;
}
